<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Register</servlet-name>
  	<display-name>Register</display-name>
  	<description></description>
  	<servlet-class>com.ATM_Interface.Controller.Register</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Login</servlet-name>
  	<display-name>Login</display-name>
  	<description></description>
  	<servlet-class>com.ATM_Interface.Controller.Login</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Deposit</servlet-name>
  	<display-name>Deposit</display-name>
  	<description></description>
  	<servlet-class>com.ATM_Interface.Controller.Deposit</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Withdraw</servlet-name>
  	<display-name>Withdraw</display-name>
  	<description></description>
  	<servlet-class>com.ATM_Interface.Controller.Withdraw</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Balance</servlet-name>
  	<display-name>Balance</display-name>
  	<description></description>
  	<servlet-class>com.ATM_Interface.Controller.Balance</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Transfer</servlet-name>
  	<display-name>Transfer</display-name>
  	<description></description>
  	<servlet-class>com.ATM_Interface.Controller.Transfer</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TransactionHistory</servlet-name>
  	<display-name>TransactionHistory</display-name>
  	<description></description>
  	<servlet-class>com.ATM_Interface.Controller.TransactionHistory</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Logout</servlet-name>
  	<display-name>Logout</display-name>
  	<description></description>
  	<servlet-class>com.ATM_Interface.Controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Register</servlet-name>
  	<url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Deposit</servlet-name>
  	<url-pattern>/Deposit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Withdraw</servlet-name>
  	<url-pattern>/Withdraw</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Balance</servlet-name>
  	<url-pattern>/Balance</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Transfer</servlet-name>
  	<url-pattern>/Transfer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TransactionHistory</servlet-name>
  	<url-pattern>/TransactionHistory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/Logout</url-pattern>
  </servlet-mapping>
</web-app>
